<h1>Editor</h1>
<hr />
<div id="editor">
//This is the way how 'comments' look like in C++ 

int numberOfBoxes = 0; 

//It seems that integer numberOfBoxes has run out of boxes!!!
// We should do something about it and at the same time PeekaBoo Yellow HAS 
//to be on the other side of the world!

</div>
<div class="sep">
    <div class="btn btn-primary" onClick="KlikFunckija(this)">int i = 5;</div>
    <div class="btn btn-primary" onClick="KlikFunckija(this)">string str = "Luka bio ovdje - jos jednom";</div>
    <div class="btn btn-primary" onClick="KlikFunckija(this)">char c = 'A';</div>
</div>

<script type="text/javascript">
        function KlikFunckija(dugme){
            var editor = document.getElementById("editor");
            var e = editor.env.editor;
            var currentCode = e.getValue();
            e.setValue(currentCode + "\n" + dugme.innerHTML+ "\n", -1);
        }
</script>
  
<script type="text/javascript" charset="utf-8">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.setReadOnly(true);
    editor.getSession().setMode("ace/mode/c_cpp");
    
</script>